[Unit]
Description="leo bringup service"
After=network-online.target

[Service]
Type=simple
User=ros
ExecStart=/usr/bin/leo-start

[Install]
WantedBy=multi-user.target