<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="leo_erc">

  <xacro:arg name="link_prefix" default=""/>

  <xacro:include filename="$(find leo_erc_description)/urdf/leo_erc.xacro"/>

  <xacro:leo_erc rockers_fixed="true"
    link_prefix="$(arg link_prefix)"
    joint_prefix=""/>

</robot>