[Unit]
Description=FastDDS Discovery Server
PartOf=ros.target

[Service]
Type=simple
ExecStartPre=/usr/lib/systemd/systemd-networkd-wait-online
ExecStart=/usr/lib/ros/discovery-server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=ros.target
