[Unit]
Description=ROS nodes
PartOf=ros.target

[Service]
Type=exec
ExecStartPre=/usr/lib/systemd/systemd-networkd-wait-online
ExecStart=/usr/bin/podman run --rm \
    --privileged \
    --net=host \
    --ipc=host \
    --pid=host \
    --security-opt label=disable \
    -v /dev:/dev \
    -v /usr/lib/ros:/usr/lib/ros \
    -v /etc/ros:/etc/ros \
    -v /home/%u/.ros:/root/.ros \
    --group-add keep-groups \
    --cidfile=/%t/ros-nodes.cid \
    ghcr.io/leorover/leo_humble_docker ros-nodes
KillSignal=none
ExecStop=/usr/bin/podman stop --cidfile=/%t/ros-nodes.cid

[Install]
WantedBy=ros.target
