name: Build

on:
  push:
    branches:
      - humble-docker
  pull_request:
    branches:
      - humble-docker

jobs:
  build:
    runs-on: [self-hosted, Linux, ARM64]
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        nix build -Lv .#OSLiteImage
        nix fmt -- -c .
